{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>
        welcome {{name}} <br> How is {{Nationality}} Today? <br> {{age}} years old is not a Bad age for {{Level}} Program
    </h1> 
    <div>
        <!--- <form action="counter" method="GET"></form> -->
        <form action="counter" method="post">
            {% csrf_token %}
            <textarea name="text" cols="100" rows="20"></textarea> <br>
            <input type="submit">
        </form>
        <br> amount of word is {{text}}
    </div>
</body>
</html>