<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Register here now </h1>
    {%for message in messages%}
        <h5 style="color: red;">{{message}}</h5>
    {%endfor%}
  
    <form method="POST" action="register">
        {% csrf_token %}
        <p>Username: </p>
        <input type="text" name="usernamePg">
        <p>Email: </p>
        <input type="email" name="emailPg">
        <p>password : </p>
        <input type="password" name="passwordPg">
        <p>Repeat password: </p>
        <input type="password" name="password2Pg"> <br> <p></p>
        <input type="submit">
    </form>
</body>
</html>